body{
    padding: 0px !important;
    margin: 0px !important;
}

*{
    font-family: Inter,arial !important;
}

.fc-header-toolbar.fc-toolbar{
    display: none !important;
}

.box-closed{
    background-color: #ff0000 !important;
    width: 20px;
    height: 20px;
}

.box-opened{
    background-color: #3788D8 !important;
    width: 20px;
    height: 20px;
}

.close-event{
    background-color: #ff0000 !important;
    font-size: 0.9rem !important;
}

.open-event{
    background-color: #3788D8 !important;
    font-size: 0.9rem !important;
}

svg.leaflet-attribution-flag {
    display: none !important;
}

.mycluster {
    width: 40px;
    height: 40px;
    background-color: greenyellow;
    text-align: center;
    font-size: 24px;
  }
  
  .custom-marker-cluster{
    background: #ffffff;
    border: 15px solid #f00800;
    border-radius: 50%;
    color: #000000;
    height: 33px;
    line-height: 37px;
    text-align: center;
    width: 33px;
  }